
/*-----------------Header-----------------*/
.header{
    width: 100%;
    height: 60px;
    background-color: #2e3046b9;
    display: flex;
    position: fixed;
    overflow: hidden;
    z-index: 100;
}


    /*---------------Logo---------------*/
.logo{
    width: 18%;
    min-width: 140px;
    margin-top: auto;
    margin-bottom: auto;
    outline: none;
}



.logo img{width: 100%;
}



    /*---------------Search---------------*/
.search-container{
    margin-left: auto;
    display: flex;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
}


        /*-------Search BUTTON-------*/
.search{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #52557db9;
    border:1px solid #1e1f2c;
    cursor: pointer;
    transition:transform 0.5s ease;
    color: #cecece;
    margin: 5px;
}

.search.button img{
    width: 60%;
}
.search.info img {
    width: 100%;
}
.home img{
    width: 100%;
}

.search:hover{
    transform: scale(1.3);
}

/*empty erea*/
#aaaa{
    height: 60px;
}


